<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.uxteam.reload.facestudiod.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.uxteam.reload.facestudiod.intro.Perspective"
            id="com.uxteam.reload.facestudiod.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.uxteam.reload.facestudiod.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.uxteam.reload.facestudiod.intro">
      </intro>
      <introProductBinding
            introId="com.uxteam.reload.facestudiod.intro"
            productId="com.uxteam.reload.facestudiod.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.uxteam.reload.facestudiod.intro"
            content="introContent.xml"
            id="com.uxteam.reload.facestudiod.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
			class="org.uxteam.example.crm.ui.CustonmerViewPart"
			id="org.uxteam.example.crm.customerview"
			name="customerview"/>
   </extension>
<extension point="org.eclipse.ui.actionSets">
<actionSet
id="org.uxteam.example.crm.actionSet"
label="Open View Part Action Set"
visible="true">
<menu
id="sampleMenu"
label="Open View">
<separator name="sampleGroup"/>
</menu>
<action
class="org.uxteam.example.crm.actions.SampleAction"
icon="icons/sample.gif"
id="org.uxteam.example.crm.actions.SampleAction"
label="&amp;Open Customer View"
menubarPath="sampleMenu/sampleGroup"
toolbarPath="sampleGroup"
tooltip="Open the customer table viewpart"/>
</actionSet>
</extension>
</plugin>
