<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.salever.rcp.tech.chapter3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.salever.rcp.tech.chapter3.Perspective"
            id="org.salever.rcp.tech.chapter3.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.salever.rcp.tech.chapter3.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.salever.rcp.tech.chapter3.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.salever.rcp.tech.chapter3.actions.SampleAction"
               definitionId="org.salever.rcp.tech.chapter3.commands.sampleCommand"
               icon="icons/sample.gif"
               id="org.salever.rcp.tech.chapter3.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.salever.rcp.tech.chapter3.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.salever.rcp.tech.chapter3.commands.category"
            id="org.salever.rcp.tech.chapter3.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.salever.rcp.tech.chapter3.handlers.SampleHandler"
            commandId="org.salever.rcp.tech.chapter3.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.salever.rcp.tech.chapter3.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.salever.rcp.tech.chapter3.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.salever.rcp.tech.chapter3.commands.sampleCommand"
                  id="org.salever.rcp.tech.chapter3.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.salever.rcp.tech.chapter3.toolbars.sampleToolbar">
            <command
                  commandId="org.salever.rcp.tech.chapter3.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.salever.rcp.tech.chapter3.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
